*{
  width:90%;
  font-family:Verdana;

}
.header{
	display:inline-block;
	position:center;
	border-top:30px;
	border-bottom:50px;
}
.content{
	display:block;
	border-bottom:50px;
	border-top:10px;
	font-size:20px;
}
.body{
	
}
.image{
	display:block;
	border-radius:15%;
	-moz-border-radius:15%;
	-webkit-border-radius:10%;
	width:1000px;
	height:400px;
	box-shadow: 100 100;
}
/* Khung chứa thumbnail */
.thumbnail {
    width: 300px;
    height: 200px; 
    overflow: hidden; 
    border: 1px solid #e5e5e5; 
	display:block;
	position:center;
}
 
/* Thumbnail */
.thumbnail img {
    width: 100%; 
    height: 100%;  
    transition-duration: 0.5s;
	position:center;
}
         
/* Hover chuột vào thumbnail */
.thumbnail img:hover {
    transform: scale(1.2);
    cursor: pointer; 
}
.footer{
	
}
